@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World(from the view)
        <a asp-action="RsvForm">RsvForm Now</a>
    </div>
</body>
</html>